<head>
<META http-equiv="content-type" content="text/html;charset=utf-8">
<title>Bookmark file</title>
</head>
     You can delete links using the remove bookmark command.  It is usually
     the 'R' key but may have been remapped by you or your system
     administrator.<br>
     This file also may be edited with a standard text editor to delete
     outdated or invalid links, or to change their order.

<!--
Note: if you edit this file manually
      you should not change the format within the lines
      or add other HTML markup.
      Make sure any bookmark link is saved as a single line.
-->

<p>
<ol>
<LI><a href="https://lite.duckduckgo.com/">DuckDuckGo</a>
<LI><a href="gopher://gopher.floodgap.com/">Floodgap</a>
<LI><a href="gopher://gopherpedia.com/">Gopherpedia</a>
<LI><a href="https://legiblenews.com/">Legible News</a>
<LI><a href="http://lite.cnn.com/en">CNN</a>
<LI><a href="https://text.npr.org/">NPR News</a>
<LI><a href="gopher://gopher.floodgap.com/0/groundhog/au/nforecast/w/12300">BOM Forecast Perth </a>
<LI><a href="gopher://telefisk.org/">Telefisk</a>
<LI><a href="https://forums.whirlpool.net.au/">Whirlpool Forums</a>
<LI><a href="https://yarchive.net/">Usenet Archive</a>

     

